@charset 'utf-8';
html {
	font-size: 14px;
	color: #000;
	background: #FFF;
}
input {
	border: none;
	outline: none;
}
.container	{
	position: relative;
	margin: 0 auto;
	width: 1140px;
}
.bread_nav a:hover {
	text-decoration: underline;
}
.txt_overflow {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
}
.l {
	float: left;
}
.r {
	float: right;
}
.text-center {
	text-align: center;
}
img {
	display: block;
	width: auto;
}


/*.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	height: 60px;
	width: 100%;
	min-width: 1140px;
	background: #ffdd55;
}
.header .container {
	background: #ffdd55;
}
.header h1 {
	margin: 8px 0;
	height: 44px;
	width: 124px;
}
.header h1 img {
	height: 100%;
	width: 100%;
}*/
/*.btn-load, .link-about {
	font-size: 18px;
	line-height: 60px;
}*/
.header, .header .row {
	background: #000;
}
.header a {
	color: #FFF;
}
.h-nav .btn-load {
    border: 2px solid #FFF;
}
.page {
	width: 100%;
	height: 866px;
}
.page .container {
	height: 100%;
}
.page-one {
	background: url(../images/bg-page-one.png) center no-repeat;
	background-size: cover;
}
.page-two {
	background: url(../images/bg-page-two.png) center no-repeat;
	background-size: cover;
}
.page-three {
	background: url(../images/bg-page-three.png) center no-repeat;
	background-size: cover;
}
.page-four {
	background: url(../images/bg-page-four.png) center no-repeat;
	background-size: cover;
}
.page-five {
	background: url(../images/bg-page-five.png) center no-repeat;
	background-size: cover;
}
.page-six {
	background: url(../images/bg-page-six.png) center no-repeat;
	background-size: cover;
}


.page-one-txt {
	position: absolute;
	top: 296px;
	left: 26px;
	width: 566px;
	height: 128px;
}
.page-one-txt img, 
.page-one-phone img,
.page-two-phone img,
.page-three-phone img ,
.page-four-phone img ,
.page-five-phone img ,
.page-six-phone img {
	width: 100%;
	height: 100%;
}
.page-one-phone {
	position: absolute;
	top: 169px;
	right: 29px;
	width: 465px;
	height: 573px;
}
.page-load {
	position: absolute;
	bottom: 160px;
	left: 75px;
}
.load-btn a {
	display: block;
	width: 260px;
	height: 60px;
	font-size: 28px;
	text-align: center;
	background: #e6e6e6;
	line-height: 60px;
	border-radius: 8px;
}
a.btn-android {
	margin:  0 0 38px;
	background: #ffda44;
}
.icon-android {
	margin-right: 12px;
	height: 30px;
	width: 26px;
	background: url(../images/icon-android.png) center no-repeat;
}
.icon-apple {
	margin-right: 12px;
	height: 31px;
	width: 26px;
	background: url(../images/icon-apple.png) center no-repeat;
}
.qrcode img {
	margin: 0 0 0 52px;
	width: 158px;
	height: 158px;
}
.page-two-txt {
	position: absolute;
	top: 300px;
	left: 700px;
}
.common-txt h2 {
	font-size: 64px;
	color: #000;
	line-height: 1;
}
.page-five-txt .common-txt h2 {
	color: #FFF;
}
.page-five-txt .common-txt p {
	color: #FFF;
}
.line {
	margin: 48px 0;
	height: 4px;
	width: 120px;
	background: #ffda44;
}
.common-txt p {
	font-size: 40px;
	color: #666;
	font-family: "PingFang SC Light";
}
.page-three-txt, .page-five-txt {
	position: absolute;
	top: 302px;
	left: 64px;
}
.page-three-phone, .page-five-phone {
	position: absolute;
	top: 154px;
	right: 65px;
	height: 573px;
	width: 282px;
}
.page-two-phone, .page-four-phone {
	position: absolute;
	top: 154px;
	left: 65px;
	height: 573px;
	width: 282px;
}
.page-phone-six {
	position: absolute;
	top: 106px;
	left: 218px;
	height: 573px;
	width: 702px;
}
.bot-load {
	position: absolute;
	bottom: 28px;
	left: 384px;
}
.bot-load img {
	height: 85px;
	width: 85px;
}
.bot-load a.btn-android {
	margin: 14px 0 0 30px;
}
.footer {
	padding: 36px 0;
	/*height: 78px;*/
	background: #282828;
}
.footer .container {
	background: #282828;
}
.sm-logo {
	margin: 0 14px 0 0;
}
.sm-tit {
	/*margin: 10px 0 16px;*/
	font-size: 18px;
	color: #666;
	line-height: 68px;
}
.copyright {
	font-size: 12px;
	color: #666;
	line-height: 1;
}
.contact {
	width: 170px;
	color: #666;
}
.contact p {
	font-size: 12px;
	line-height: 1;
}
.contact p:nth-child(1) {
	margin: 14px 0 12px;
	font-size: 14px;
}
.contact p:nth-child(2) {
	margin: 0 0 4px;
}
.qq {
	position: relative;
	padding: 60px 0 0 0;
	height: 16px;
	width: 66px;
	color: #666;
	font-size: 12px;
	text-align: center;
	background: url(../images/icon-qq.png) center 26px no-repeat;
	line-height: 16px;
	cursor: hand;
	cursor: pointer;
}
.qq-active {
	background: url(../images/icon-qq-active.png) center 26px no-repeat;
}

.wx {
	position: relative;
	padding: 60px 0 0 0;
	height: 16px;
	width: 66px;
	color: #666;
	font-size: 12px;
	text-align: center;
	background: url(../images/icon-wx.png) center 26px no-repeat;
	line-height: 16px;
	cursor: hand;
	cursor: pointer;
}
.wx-active {
	background: url(../images/icon-wx-active.png) center 26px no-repeat;
}
.wx-box {
	display: none;
	position: absolute;
	top: -110px;
	left: 50%;
	margin: 0 0 0 -60px;
	padding: 5px;
	background: #FFF;
	width: 100px;
	height: 110px;
	border-radius: 4px;
}
.wx-active .wx-box {
	display: block;
}
.wx-box:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 0;
    height: 0;
    margin: 0 0 0 -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
}
.wx-box img {
	width: 100%;
	height: 100%;
}
.qq-box {
	display: none;
	position: absolute;
	top: -110px;
	left: 50%;
	margin: 0 0 0 -60px;
	background: #FFF;
	width: 110px;
	height: 110px;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(125, 125, 125, 0.5);
}
.qq-active .qq-box {
	display: block;
}
.qq-box:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 0;
    height: 0;
    margin: 0 0 0 -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
}
.qq-box-tit {
	height: 27px;
	background: #ffda44;
	text-align: center;
	font-size: 14px;
	color: #333;
	line-height: 27px;
}
.qq-con {
	padding: 16px 20px;
}
.qq-con a {
	display: block;
	height: 20px;
	color: #333;
	line-height: 20px;
	border-bottom: 1px solid #dddddd;
}
.qq-con a:hover {
	border-color: #ffda44;
}



.copy_right {
	margin: 24px 0 0 0;
	color: #666;
	text-align: center;
}
.copy_right p a {
	color: #666;
}
.copy_right p {
	line-height: 28px;
}
.foot-link {
	margin: 0 auto;
	width: 560px;
}
.foot-link a {
	display: inline-block;
	margin: 0 12px;
	color: #666;
	line-height: 32px;
}
.foot-link a:hover {
	text-decoration: underline;
}
.link-about {
	margin: 0 32px 0 0;
}

.user {
	padding: 12px 0;
	background: #FFF;
}
.user_box {
	border: 1px solid #e6e6e6;
}
.user_l {
	height: 100%;
	width: 194px;
	background: #f5f2f3;
	border-right: 1px solid #e6e6e6;
}
.user_r {
	padding: 0 24px;
	width: 870px;
	min-height: 536px;
}
.user_head {
	padding: 24px 0 20px;
	background: #FFF;
	border-bottom: 1px solid #e6e6e6;
}
.user_head .dl {
	padding: 0 0 0 72px;
	width: 96px;
	margin: 0 auto;
}
.user_head .dl dd {
	height: 64px;
}
.user_head .dl dt {
	width: 64px;
	height: 64px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	border-radius: 100%;
}
.icon_level {
	color: #FFF;
	text-align: center;
	height: 20px;
	width: 34px;
	background: url(../images/sprite.png) -96px -173px no-repeat;
}
.user_name {
	font-size: 16px;
	line-height: 36px;
}
.orange_txt {
	color: #f5aa0a;
}
.user_opts {
	margin: 24px 0 0 0;
	color: #8f8f8f;
}
.user_opts span {
	float: left;
	width: 50%;
	height: 14px;
	line-height: 14px;
	text-align: center;
	box-sizing: border-box;
}
.user_opts strong.orange_txt {
	margin: 0 0 0 12px;
}
.jf {
	border-right: 1px solid #CCC;
}
.user_tab li {
	margin: 0 0 0 -1px;
	border-left: 4px solid transparent;
}
.user_tab li.tab_active {
	border-left: 4px solid #f5aa0a;
}
.user_tab li a {
	display: block;
	padding: 0 22px;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #e6e6e6;
	transition: all 50ms linear;
}
.user_tab li.tab_active a {
	color: #f5aa0a;
	background: #faf7f8;
}
.user_tab li a:hover {
	background: #faf7f8;
}
.c_item_l {
	width: 820px;
}
.c_item_r {
	width: 300px;
}
.c_item_head {
	padding: 20px 0 0 0;
	border-bottom: 3px solid #ebebeb;
}
.c_item_head h3 {
	padding: 0 0 10px;
	margin-bottom: -3px;
	margin-right: 24px;
	font-size: 18px;
	border-bottom: 3px solid #e60012;
}
.c_item_head h3.no_active {
	border-color: transparent;
}
.company_banner {
	position: relative;
	margin-top: 1px;
	padding: 0 48px;
	height: 180px;
	font-size: 24px;
	color: #666;
	background: #f5f5f5;
}
.company_banner img {
	position: absolute;
	top: 0;
	right: 0;
	height: 180px;
}
.company_banner h3 {
	padding: 36px 0 24px;
	font-size: 28px;
	color: #333;
	line-height: 48px;
}
.company_txt {
	padding: 24px 48px;
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
.contact {
	padding: 54px 48px;
}
.contact_container {
	width: 362px;
}
.contact_part {
	margin: 0 0 32px;
}
.contact_part .contact_tit {
	margin: 0 0 12px -12px;
	height: 24px;
	color: #333;
	font-size: 18px;
	line-height: 24px;
}
.contact_part p {
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
.contact_part p.official_wx {
	line-height: 90px;
}
.user_con .contact p:nth-child(2) {
	margin: 0;
}
.join .contact_part p {
	font-size: 14px;
	line-height: 24px;
}
.join p.contact_tit {
	font-size: 18px;
}
.join {
	padding: 24px 48px;
}
.blue_txt{
	color: #177ee5;
}