﻿@charset 'utf-8';
/* CSS reset */
html{color:#333;background:#FFF;font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family: "PingFang SC", "微软雅黑","Microsoft YaHei", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#333; outline:none;-webkit-tap-highlight-color: rgba(255,255,255,0);}/*此处待添加默认链接颜色*/
strong{font-style:normal;}
caption,strong,th{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4{font-weight:normal;line-height:1;}
legend{color:#333;}
input,button,select,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,select{*font-size:100%;}
.clearfix:after{display: block;content: "\200B";height: 0;overflow: hidden;clear: both;}
.clearfix {*zoom:1;}
