/*重写过的css*/
.demo-default{width:100%}
.selectize-control.default.multi .selectize-input > div { font-size:12px; background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.selectize-control.default.multi .selectize-input > div.active { border-color: #999; background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);}
.selectize-control.default.multi .selectize-input.disabled > div { border-color: #d8d8d8; background: #fafafa; }

.selectize-input, .selectize-control.single .selectize-input.focus { background: #fff; padding:9px 12px; cursor: text; display: inline-block; width: 100%; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); }
.selectize-input.focus { -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15); box-shadow: inset 0 1px 2px rgba(0,0,0,0.15); }

.selectize-input.dropdown-active { -webkit-border-radius: 3px 3px 0 0 !important; -moz-border-radius: 3px 3px 0 0 !important; border-radius: 3px 3px 0 0 !important; }
.selectize-input.full { background-color: #f2f2f2; }
.selectize-input.dropdown-active::before { content: ' '; display: block; position: absolute; background: #f2f2f2; height: 1px; bottom: 0; left: 0; right: 0; }
.selectize-control.multi .selectize-input.has-items { padding-top: 8px !important; padding-bottom: 3px !important; }
.selectize-control.multi .selectize-input > div { cursor: pointer; margin: 0 5px 5px 0; padding: 0 3px; }
.selectize-input > div:last-child { margin-right: 5px; }
.selectize-input > input { margin-right: 2px !important; }
.selectize-dropdown, .selectize-input, .selectize-control.single .selectize-input.dropdown-active { border: 1px solid #ccc; }
.selectize-dropdown { max-height: 200px; overflow-y: auto; overflow-x: hidden; background: #fff; margin-top: -1px; border-top: 0 none; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1); box-shadow: 0 1px 3px rgba(0,0,0,0.1); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; padding:5px 5px 10px 5px}
.selectize-dropdown [data-selectable]{ padding: 3px 9px; display:inline-block; border:1px solid #eee; margin:5px 5px 0 5px}
.selectize-dropdown .optgroup:first-child .optgroup-header { border-top: 0 none; padding:3px 8px}
.selectize-dropdown .optgroup-header { background: #fafafa; border-bottom: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; font-weight: bold; font-size: 0.8em; cursor: default; }
.selectize-dropdown .create { color: #a0a0a0; }
.selectize-dropdown .active { background-color: #1e90ff; color:#fff }
.selectize-dropdown, .selectize-input, .selectize-input input { color: #303030; -webkit-font-smoothing: antialiased; }
.selectize-dropdown [data-selectable] .highlight { background: rgba(255,237,40,0.4); border-radius: 1px; }
.selectize-input.disabled, .selectize-input.disabled * { cursor: default !important; }

.selectize-control.multi .selectize-input.disabled { background-color: #fafafa; }

.selectize-control { position: relative; }
.selectize-input { overflow: hidden; position: relative; z-index: 1; }
.selectize-input:after { content: ' '; display: block; clear: left; }
.selectize-input .items { display: inline;text-align:left; }
.selectize-input > * { vertical-align: baseline; display: -moz-inline-stack; display: inline-block; zoom: 1;  *display: inline;
}
.selectize-input > input { max-width: 100% !important; text-indent: 0 !important; border: 0 none !important; background: none !important; padding: 0 !important; margin: 0; line-height: inherit !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
.selectize-input > input:focus { outline: none !important; }
.selectize-dropdown { position: absolute; z-index:3; }
.selectize-dropdown > * { cursor: pointer; overflow: hidden; }
.selectize-input, .selectize-dropdown { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.selectize-control.plugin-remove_button .item { position: relative; padding-right: 20px !important; }
.selectize-control.plugin-remove_button .item .remove { position: absolute; top: 0; right: 0; bottom: 0; width: 17px; -moz-sizing: border-box; -webkit-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 12px; font-weight: bold; color: inherit; vertical-align: middle; display: inline-block;  -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; border-left: 1px solid #ddd; }
.selectize-control.plugin-remove_button .item .remove:hover {background-image: none; color:#F00; text-decoration:none}
.selectize-control{
    height:36px;
}
.selectize-input{
    line-height: 15px;
}