@import url("../js/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("../js/layer3/skin/default/layer.css");
/*头部*/
.navbar-fui {background-color: #fff;border:0px;border-bottom: 2px solid #eee;margin-bottom:0px;border-radius:0px;height:70px;}
.navbar-fui .navbar-nav .nav-item{height:70px;border-bottom: 5px;}
.navbar-fui .navbar-nav .nav-item>a{padding:22px 15px 23px;}
.navbar-fui .navbar-nav .nav-item .nitem-wrap{padding:15px 15px 16px;}
.navbar-fui .navbar-nav .nav-item .bottom-border{width:100%;height:5px;background-color:#4E5465;display:none;}
.navbar-fui .navbar-nav .nav-item-active .bottom-border,
.navbar-fui .navbar-nav .nav-item:hover .bottom-border{display:block;}
.navbar-fui .logo-wrap{font-size: 22px;padding-top:24px;}
.navbar-fui .logo-wrap .logo {float: left;margin-right: 6px;border: 10px solid transparent;border-color:#f8f8f8 #e7e7e7 #ccc;opacity: .9;filter: alpha(opacity=90);}
.navbar-fui .admin-side-toggle{color: white;background-color:#999;width: 30px;text-align: center;padding:5px 0;margin:19px 0 0 14px;cursor:pointer;}
.navbar-fui .admin-side-toggle:hover{background-color:#eee;}
/*侧边菜单*/
.fui-sidebar{width:200px;overflow: hidden;position: absolute;left: 0;top:70px;bottom: 0;z-index: 1000;}
.fui-sidebar .sidebar-scroll{overflow-x:hidden;height: 100%;background-color: #f8f8f8;border-color: #e7e7e7;}
.fui-sidebar .sidebar-scroll .nav{position: relative;border-radius: 2px;font-size: 0;box-sizing: border-box!important;}
.fui-sidebar .sidebar-scroll .nav *{font-size: 14px;}
.sidebar-scroll .nav .nav-item{display: block;width: 100%;line-height: 45px;position: relative;vertical-align: middle;margin-top:0;}
.sidebar-scroll .nav .nav-item .nav-a{height: 45px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;padding: 0 20px;transition: all .3s;-webkit-transition: all .3s;}
.sidebar-scroll .nav .nav-item.active .nav-a:hover,.sidebar-scroll .nav .nav-item.active .nav-a:focus{color: #555;background-color: #e7e7e7;}
.sidebar-scroll .nav .nav-item .nav-a:focus
,.sidebar-scroll .nav .nav-item .nav-a:hover{color: #333;background-color:#e7e7e7;}
.sidebar-scroll .nav .nav-item .nav-a > .fa{line-height:45px;}
/*侧边子菜单*/
.nav-child{display: none;min-width: 100%;line-height:36px;color: #fff;list-style: none;}
.nav .nav-child .url-a{height: 35px; line-height:35px;color: #666;text-decoration: none;}
.nav .nav-child .url-a:hover{color:#563d7c;background-color:transparent;text-decoration: none;}
.nav-child li{list-style: none;}
.nav-child li a{padding:0 0 0 50px;}
.nav-child li a .fa{line-height:35px;}
.sidebar-scroll .nav .active .cur-itemed{color: #333;background-color:#eee;}
.nav .active .nav-child{display: block;padding:0;} 

/*内容区*/
.fui-content{position: absolute;left:200px;top:70px;right:0px;z-index: 998;width: auto;overflow: hidden;overflow-y: auto;webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/*页面底部*/
.fui-footer{position: fixed;left:200px;right: 0;bottom: 0;text-align: center;color: #666;font-weight: 300;background-color: #eee;height: auto;line-height: 26px;}
.fui-footer .fui-fmain{position: relative;width: auto;margin:5px 0;}
/*标签头部*/
.fui-tab-wrap .fui-tabs{border-bottom: 1px solid #e7e7e7;position: relative;left: 0;white-space: nowrap;font-size: 0;transition: all .2s;-webkit-transition: all .2s;}
.fui-tab-wrap .fui-tabs li{font-size: 14px;vertical-align: middle;text-align: center;transition: all .3s;-webkit-transition: all .3s;position: relative;line-height: 40px;min-width: 65px;}
.fui-tab-wrap .fui-tabs li a
,.fui-tab-wrap .fui-tabs li a:hover
,.fui-tab-wrap .fui-tabs li a:focus{cursor: pointer;border:0px;margin:0;border-radius:0;color:#000;-webkit-tap-highlight-color: rgba(0,0,0,0);background-color:transparent;}
.fui-tab-wrap .fui-tabs li.active a{color:#333;background-color: #D1D1D1;border-radius: 5px;border:0px;}
.fui-tab-wrap .fui-tabs li a span{padding: 0 5px;}
.fui-tab-close{display:none;font-size:15px;color:#c2c2c2;position:absolute;top:2px;right:3px;cursor:pointer;width:16px;height:16px;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fui-tab-close:hover {color:#fff;background-color:#FF5722;border-radius: 10px;}
.fui-tab-wrap .fui-tabs li:hover .fui-tab-close{display: inline-block;}

/*标签内容区*/
.fui-tab-wrap .tab-content{min-height: 150px;overflow-y: auto;overflow-x:hidden;}
.fui-tab-wrap .tab-content .tab-pane{padding:5px 0 0;}
.fui-tab-wrap .tab-content .breadcrumb{margin-bottom:10px;}
.fui-box .fixed-table-toolbar .bs-bars,.fui-box .fixed-table-toolbar .columns,.fui-box .fixed-table-toolbar .search{margin-top:0px;}
/*弹窗*/
.fui-dialog,.fui-dialog .layui-layer-content{background-color:transparent;overflow: visible;box-shadow: none;}
/*登录窗口*/
.input-group .input-group-addon:last-child {padding: 1px 3px;}

.breadcrumb>li{color:#999;}
.direct_open_url{display:none;}

.fixed-table-toolbar .bootstrap-datetimepicker-widget.dropdown-menu{max-height:auto;overflow:visible;}
.table>tbody>tr>td.vmid{vertical-align: middle;}
.secCheckBox{margin-left: 80px;}
.bootstrap-datetimepicker-widget{z-index:39891017;}
.fui-dialog .table{margin-bottom:0px;}
.copy-btn-wrap{position:relative;}
.copy-btn-wrap .copy-btn{cursor:pointer;margin-left: 3rem;}
.toRed{color: red;}
.toBlue{color: blue;}
.toGreen{color: green;}
.right-btn-table .fixed-table-toolbar .btn-group{margin-right:-42px;}
.mb10px{margin-bottom:10px;}
.mt5px{margin-top: 5px;}