@charset "utf-8";
.swiper-container, .swiper-slide {
    width: 100%;
    height: 100%
}

img {
    display: block
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0
}

.swiper-slide:nth-child(1) {
    background: url(http://cdn.18hanhua.com/wap/bg-sec1.png?v=20180904) center no-repeat;
    background-size: cover
}

.swiper-slide:nth-child(2) {
    background: url(http://cdn.18hanhua.com/wap/bg-sec2.png?v=20180904) center no-repeat;
    background-size: cover
}

.swiper-slide:nth-child(3) {
    background: url(http://cdn.18hanhua.com/wap/bg-sec3.png?v=20180904) center no-repeat;
    background-size: cover
}

.swiper-slide:nth-child(4) {
    background: url(http://cdn.18hanhua.com/wap/bg-sec4.png?v=20180904) center no-repeat;
    background-size: cover
}

.icon-arrow {
    position: absolute;
    bottom: .26rem;
    left: 50%;
    margin: 0 0 0 -.18rem;
    height: .28rem;
    width: .36rem;
    opacity: .8;
    background: url(../images/icon-arrow.png) center no-repeat;
    background-size: 100%;
    -webkit-animation: arrowAnimate 1.2s linear infinite
}

@-webkit-keyframes arrowAnimate {
    0%, 100%, 50% {
        transform: translateY(0);
        opacity: .8
    }
    25% {
        transform: translateY(.18rem);
        opacity: .5
    }
    75% {
        transform: translateY(-.18rem);
        opacity: 1
    }
}

.section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%
}

.btn-foot a, .btn-load {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: .81rem;
    width: 4.68rem;
    font-size: .32rem;
    color: #5aadf9;
    font-weight: 700;
    background: #FFF;
    border-radius: .08rem
}

.footer-img {
    display: block;
    margin: 0 auto;
    height: .72rem;
    width: 5.05rem
}

.btn-box, .btn-foot {
    position: absolute;
    bottom: 1.12rem;
    left: 0;
    width: 100%
}

.btn-foot {
    bottom: .46rem
}

.btn-foot a {
    background: 0 0;
    color: #FFF;
    width: 2.49rem;
    height: .81rem;
    border: 2px solid #FFF;
    box-sizing: border-box
}