@charset 'utf-8';
/* CSS reset */
html{color:#333;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family: "PingFang SC","Microsoft Yahei", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 0.3rem;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#333; outline:none;-webkit-tap-highlight-color: rgba(255,255,255,0);}/*此处待添加默认链接颜色*/
strong{font-style:normal;}
caption,strong,th{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4{font-weight:normal;line-height:1;}
legend{color:#555;}
input,button,select,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,select{*font-size:100%;}
.clearfix:after{display: block;content: "\200B";height: 0;overflow: hidden;clear: both;}
.clearfix {*zoom:1;}

img {
	display: block;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.icon {
	vertical-align: middle;
	display: inline-block;
}
input, select {
	border: none;
	outline: none;
	-webkit-appearance: none;
}
.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.overflow {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.three-overflow {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.center {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	height: 4.05rem;
}
.main {
	padding: 0.46rem 0 0.86rem;
}
.game-top {
	padding: 0 0.26rem;
}
.game-head {
	position: relative;
	padding: 0 1.16rem 0 1.64rem;
	height: 1.46rem;
}
.game-pic {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.46rem;
	width: 1.46rem;
}
.game-name {
	padding: 0.15rem 0;
	font-size: 0.36rem;
	font-weight: bold;
	line-height: 1.125;
}
.game-opts {
	font-size: 0.2rem;
	color: #999;
	line-height: 0.32rem;
}
.game-source {
	font-size: 0.2rem;
	color: #666;
	line-height: 0.32rem;
	margin-top: 0.04rem;
}
.game-score {
	position: absolute;
	top: 0.11rem;
	right: 0;
	height: 1.16rem;
	width: 1.16rem;
	background: url(../images/bg-score.png) center no-repeat;
	background-size: 100%;
	color: #FFF;
	font-style: italic;
	font-size: 0.38rem;
}
.game-score .sm {
	font-size: 0.3rem;
}
.game-text {
	position: relative;
	margin: 0.4rem auto;
	padding: 0 0.4rem;
	width: 5rem;
	text-align: center;
}
.game-text p {
	font-size: 0.26rem;
	font-weight: bold;
	color: #666666;
	line-height: 0.34rem;
}
.game-text:before,
.game-text:after {
	content: "";
	position: absolute;
	top: 0.04rem;
	height: 0.2rem;
	width: 0.22rem;
}
.game-text:before {
	left: 0;
	background: url(../images/yh-l.png) center no-repeat;
	background-size: 100%;
}
.game-text:after {
	right: 0;
	background: url(../images/yh-r.png) center no-repeat;
	background-size: 100%;
}
.game-version,
.game-relate {
	padding: 0 0.26rem;
}
.game-detail-title {
	font-size: 0.3rem;
	font-weight: bold;
	height: 0.82rem;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.game-detail-jr {
	height: 0.66rem;
	color: #666666;
	font-size: 0.24rem;
	background: #f7f7f6;
}
.common-tit {
	margin: 0.3rem 0 0 0;
	font-size: 0.32rem;
	font-weight: bold;
	padding: 0 0 0.24rem;
}
.common-tit .sm {
	color: #666;
	font-size: 0.24rem;
	font-weight: normal;
}
.common-tit .sm:last-child {
	color: #999;
}
.game-info-txt {
	position: relative;
	padding: 0 0 0.6rem 0;
}
.game-info-txt pre {
	font-size: 0.28rem;
	color: #989898;
	line-height: 0.4rem;
    white-space: pre-wrap;
}
.game-info-txt pre a {
	color: #5aadf9;
}
a.btn-open {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0.6rem;
	width: 0.8rem;
	text-align: right;
	color: #5aadf8;
	font-weight: bold;
	font-size: 0.24rem;
	line-height: 0.6rem;
}
.game-alert {
	display: -webkit-flex;
	display: flex;
	align-items:  center;
	margin: 0.34rem 0 0 0;
	padding: 0.22rem 0.32rem 0.22rem 0.78rem;
	background: #ffece4 url(../images/icon-alert.png) 0.14rem center no-repeat;
	background-size: 0.48rem;
	text-align: left;
	border-radius: 0.12rem;
}
.game-alert p {
	color: #f85427;
	font-size: 0.267rem;
	font-weight: bold;
	word-break: break-all;
}

.game-alert a {
	color: #5aadf9;
}
.pic-box .swiper-container {
	display: none;
}
.swiper-slide,
.swiper-slide img {
	width: 6.02rem;
	height: 3.39rem;
}
.sp .swiper-slide,
.sp .swiper-slide img {
	width: 3.86rem;
	height: 6.86rem;
}
.pic-box {
	margin: 0.12rem 0 0.36rem;
}
.game-labels a, .game-item-label {
	margin: 0 0.08rem 0.08rem 0;
	padding: 0 0.16rem;
	height: 0.4rem;
	font-size: 0.28rem;
	color: #5aadf8;
	background: #f2f9fe;
	border-radius: 0.1rem 0 0.1rem 0;
}
.game-relate .common-tit {
	margin-top: 0;
	border-bottom: 1px solid #f2f2f2;
}
.game-item {
	padding: 0.28rem 0;
	border-bottom: 1px solid #f2f2f2;
}
.game-item-wrap {
	position: relative;
	padding: 0 1.02rem 0 1.38rem;
	height: 1.2rem;
}
.game-item-pic {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.2rem;
	width: 1.2rem;
}
.game-item-name {
	font-size: 0.28rem;
	font-weight: bold;
	width: 100%;
}
.game-item-desc {
	font-size: 0.24rem;
	width: 100%;
	color: #999;
}
.game-item-label {
	margin-bottom: 0;
	padding: 0 0.14rem;
	height: 0.28rem;
	font-size: 0.2rem;
}
.game-item-opts {
	margin: 0.08rem 0;
}
.game-item-content {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 1.2rem;
}
.game-download {
	position: absolute;
	top: 0.28rem;
	right: 0;
}
.btn-game-download {
	height: 0.48rem;
	width: 1rem;
	font-size: 0.24rem;
	color: #FFF;
	background: #5aadf8;
	border-radius: 0.08rem;
}
.comment-num {
	margin: 0.1rem 0 0 0;
	font-size: 0.2rem;
	color: #999;
	text-align: center;
}
.btn-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	height: 0.86rem;
	width: 100%;
	background: #5aadf8;
	color: #FFF;
	font-size: 0.32rem;
}
.text-wrap {
	overflow: hidden;
}


.list-wrap .main {
	padding-top: 0;
}
.common-head {
	position: relative;
	padding: 0 0.26rem;
	height: 0.94rem;
}
.common-head h1 {
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.94rem;
	font-weight: bold;
	border-bottom: 1px solid #f2f2f2;
}
.btn-back {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0.72rem;
	background: url(../images/icon-back.png) center no-repeat;
	background-size: 0.16rem 0.36rem;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
	width: 100%;
}
.modal-mask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
}
.modal-content {
	position: relative;
	z-index: 2;
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download-modal {
	position: relative;
	width: 86%;
	padding: 0.36rem;
	background: #FFF;
	box-sizing: border-box;
}
.d-tit {
	font-size: 0.3rem;
	text-align: center;
}
.d-txt {
	margin: 0.16rem 0 0.32rem;
	font-size: 0.2rem;
	color: #666666;
	text-align: center;
}
.d-txt strong {
	color: #f19c00;
	font-size: 0.2rem;
}
.d-con {
	position: relative;
	margin: 0 0 0.4rem;
	width: 100%;
	height: 2.54rem;
	background: url(../images/bg-modal.jpg) center no-repeat;
	background-size: 100%;
}
.d-con img {
	position: absolute;
	top: 0.44rem;
	left: 0.28rem;
	height: 1.66rem;
	width: 1.66rem;
}
.btn-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 0.48rem;
	width: 0.48rem;
	background: url(../images/icon-close.png) center no-repeat;
	background-size: 0.19rem;
}
.d-btn a {
	height: 0.68rem;
	width: 2.24rem;
	color: #FFF;
	font-size: .24rem;
	font-weight: bold;
}
.d-btn a:nth-child(1) {
	background: #f9b840;
}
.d-btn a:nth-child(2) {
	background: #5aadf9;
}


.game-more a {
	display: block;
	margin: 0.2rem auto 0;
	height: 0.8rem;
	width: 50%;
	color: #999;
	text-align: center;
	font-size: 0.28rem;
	font-weight: bold;
	line-height: 0.8rem;
}

.d-sb {
	position: absolute;
	top: 0.55rem;
	right: 0.24rem;
	width: 2.41rem;
	color: #FFF;
}
.d-sb h3, .d-sb p {
	margin: 0 0 0.14rem;
	font-size: 0.2rem;
}
.d-sb p {
	padding: 0 0 0 0.19rem;
}
.icon-phone {
	margin-right: 0.14rem;
	height: 0.2rem;
	width: 0.13rem;
	background: url(../images/icon-phone.png) center no-repeat;
	background-size: 0.13rem 0.2rem;
}
.icon-file {
	margin-right: 0.13rem;
	margin-left: -0.01rem;
	height: 0.17rem;
	width: 0.15rem;
	background: url(../images/icon-file.png) center no-repeat;
	background-size: 0.15rem 0.17rem;
}
.icon-newgame {
	margin-right: 0.1rem;
	margin-left: -0.04rem;
	height: 0.16rem;
	width: 0.19rem;
	background: url(../images/icon-newgame.png) center no-repeat;
	background-size: 0.19rem 0.16rem;
}
.wrap {
	margin: 0 auto;
	max-width: 640px;
}

.banner {
	background: #000;
}
.banner video {
	display: block;
	width: 100%;
	height: 4.05rem;
}